.menuicon{
    color: white ;
    display: block;
  
}

.drawer-div{
    width:100%;
display: flex;

justify-content: center;
align-items: center;    
}
.right-icon{
    justify-content: end;
    
}
.iconbtn{
    color: white;
    justify-content: center !important;
    align-items:center !important;
   
}