
.slider-page{
    width: 100%;
}
.image-slider{
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -4rem;
  width: 100%;
}
.slider-img{
    width: 100% !important;
}
.slider-btn{
    background-color: rgb(245, 81, 21) !important;
    border-radius: 5px;
    margin: 8px !important;
    color: #fff !important;
    border: none;
    height: 30px;
    width: 100px;
}